/*

******* CUSTOM SETTINGS TO OVERRIDE BOOTSTRAP DEFAULTS *******

====================
GENERAL PAGE STYLING
====================

Adds some white space between the header bar and the page content */
body {
  font-size: .85em;
  font-family: 'Montserrat', sans-serif;
  color: #666;
  padding-top: 54px;
}

/* Changes defalt black text for headers to a softer grey */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}


/*
====================
FORMS
====================

Overrides the generic form-control class typography settings */
.form-control {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #666;
}

/* Changes the placeholder text color in forms to the theme red
various settings for diferent browsers */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(187, 10, 30);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(187, 10, 30);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(187, 10, 30);
}


/*
====================
ELEMENT THEME COLORS
====================

Classes for changing elements to the theme red color or dark grey */
.red {
  color: rgb(187, 10, 30);
}

.dark {
  color: #333;
}


/*
====================
CARDS - HEIGHT & LINE COLORS
====================

"Height 100%" forces all of the cards in the portfolio to fill their container vertically
(so that the bottom edges line up.) */
.card {
  height: 100%;
  border: 1px solid #999;
}

.card-footer {
  border-top: 1px solid #999;
}


/*
====================
NAV BAR TRICKS
====================

Very specific "Fargo Red" to underline the navbar */
.navbar {
  border-bottom: 2px solid rgb(187, 10, 30);
}

/* Adds a "|" after each link to separate them (but not after the last link) */
nav li:not(:first-child):before {
  content: " | ";
  opacity: 0.3;
  position: absolute;
  padding-top: .5em;
}


/*
====================
UNORDERED LIST TRICKS
====================

Creates custom themed red bullets in lists with the class .red-dot 
It's silly, but I'm really proud of this!! ;)

Resets default list styles (removes all bullets) */
ul.red-dot {
  list-style: none;
}

/* Cureates new custom themed bullets */
ul.red-dot li::before  {
  content: "•"; color: rgb(187, 10, 30);
  font-size: 1.25em;
  font-weight: 500;
  display: inline-block; width: 1em;
  margin-left: -1em
}


/*
====================
FOOTER
====================

Styles the footer to match the nav bar at the top of the page */
footer {
  font-size: .5em;
  border-top: 2px solid rgb(187, 10, 30);
}
